# Server Port Configuration
PORT=3000

# Google Maps API Key (Prefix with VITE_ for Vite client access)
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDLO6C_hGka_uoGjM1HdfUpNOEYyBh3YF4

# Optional AI Engine API Keys
GEMINI_API_KEY=
OPENAI_API_KEY=
